<!-- Home Template -->
<template name="home">
	{{ > navbar }}
	<div class="container">
		<div class="row">
			<div class="col-md-4">
    			{{ > tutorialSection }}
    		</div>
			<div class="col-md-4">
    			{{ > programmeSection }}
    		</div>
    		<div class="col-md-4">
    			{{ > subjectSection }}
    		</div>
    	</div>
	</div>
</template>

<!-- Programme Button Template -->
<template name="tutorialSection">
	<div class="centered">
	    <img class="img" src="/img/Student_Reading_512.png" alt="Generic placeholder image" width="180" height="180">
	    <p>
	    	<div class="btn-group" role="group">
			    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
			     	Tutorial
			      	<span class="caret"></span>
			    </button>
			    <ul class="dropdown-menu" role="menu">
			      	<li><a href="#">First time here?</a></li>
			      	<li><a href="#">Managing your programmes</a></li>			      	
			      	<li><a href="#">Managing your subjects</a></li>
			    </ul>
		  	</div>
	    </p>
	</div>
</template>

<!-- Programme Button Template -->
<template name="programmeSection">
	<div class="centered">
	    <img class="" src="/img/College_Notebook_512.png" alt="Generic placeholder image" width="180" height="180">
	    <p>
	    	<div class="btn-group" role="group">
			    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
			     	Programmes
			      	<span class="caret"></span>
			    </button>
			    <ul class="dropdown-menu" role="menu">
			      	<li><a href="/view_programmes">View Programmes</a></li>
			      	<li><a href="/programme">Add Program</a></li>
			    </ul>
		  	</div>
	    </p>
	</div>
</template>

<!-- Subject Button Template -->
<template name="subjectSection">
	<div class="centered">
	    <img class="" src="/img/Exam_with_Three_Questions_512.png" alt="Generic placeholder image" width="180" height="180">
	    <p>
	    	<div class="btn-group" role="group">
			    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
			     	Subjects
			      	<span class="caret"></span>
			    </button>
			    <ul class="dropdown-menu" role="menu">
			      	<li><a href="/view_subjects">View Subjects</a></li>
			      	<li><a href="/subject">Add Subject</a></li>
			    </ul>
		  	</div>
	    </p>
	</div>
</template>

<!-- Leaderboard List Template -->
<template name="list">
    <div class="panel panel-default" style="margin:25px;">
        <div class="panel-heading">Leaderboard</div>
        <p>{{> addForm}}</p>
        <table class="table">
            <thead>
                <tr>
                    <th>Score</th>
                    <th>Name</th>
					<th></th>
                </tr>
            </thead>
            <tbody id="list">

            </tbody>
        </table>
        <div id="pager"></div>
    </div>
</template>

<!-- Leaderboard Form Template -->
<template name="addForm">
	<div style="margin: 20px;">
    <form class="">
        <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" type="text" name="name" placeholder="Type name" />
        </div>
        <div class="form-group">
            <label for="score">Score</label>
            <input class="form-control" type="text" name="score" placeholder="0" />
        </div>
        <button type="submit" class="btn btn-default">Add</button>
    </form>
	</div>
</template>
