<!-- PLO Template -->
<template name="plos">
  	{{ > navbar }}
  	<div class="container">  
  		<div class="row">
  			<div class="col-md-6 col-md-offset-3">
            {{ > articles }}
        </div>
      </div>
  	</div>
</template>

<template name="plo">
    {{ > navbar }}
    <div class="container">  
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
            {{ > articleDetail }}
        </div>
      </div>
    </div>
</template>

<template name = 'articles'>
  <h2>Articles</h2>
    <ul class="list-group">
       {{#each dataset}} 
        <li class="list-group-item">
          <a href="/plo/481BCS/{{ id }}"> {{ name }} </a>
        </li>
      {{/each}}
    </ul>
</template>

<template name = 'articleDetail'>
  <h1> {{ dataset.name }} </h1>
  <h2><a href="{{ pathFor 'plo' }}">Programme Learning Outcome {{ dataset.id }} </a></h2>
  <p>{{ dataset.content }}</p>
  <h3>Related: </h3>
  <ul class="list-group">
     {{#each dataset.learning_domains}} 
      <li class="list-group-item">
        <a href="/plo/481BCS/{{ id }}"> {{ this }} </a>
      </li>
    {{/each}}
  </ul>
</template>

<template name="plo_single" >
  <legend class="single"></legend>
  <p class="plo_content">
  </p>
</template>

<template name="posts">
  {{ > navbar }}
  <div class="container">  
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <h2>A List Of Blog Posts</h2>
          {{#each posts}}
            <h4>{{ title }}</h4>
            <p>{{ text }}</p>
          {{/each}}
        </div>
      </div>
    </div>
</template>

<template name="postDetail">
  {{ > navbar }}
  <div class="container">  
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <h1>{{ title }}</h1>
            <p><i>[ID: {{ _id }}]</i></p>
            <p>{{ text }}</p>
            <a href="{{ pathFor 'oldData' }}">old data example</a>
        </div>
      </div>
    </div>
</template>

<template name="authors">
  {{ > navbar }}
  <div class="container">  
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <h1>List of all authors</h1>
            {{#each authors}}
              <a href="{{ pathFor 'authorDetail' }}">{{ name }}</a>
            {{/each}}
        </div>
      </div>
    </div>
</template>

<template name="authorNotFound">
  {{ > navbar }}
  <div class="container">  
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <h1>Sorry not found</h1>
        </div>
      </div>
    </div>
</template>

<template name="loading">
    {{ > navbar }}
    <div class="container">  
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
            Loading publication....
        </div>
      </div>
    </div>
</template>